In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Combine 2018 data

df_2018 = pd.DataFrame()
for i in range(12):
    day = str(i+1).zfill(2)
    file = (f'Resources/JC-2018{day}-citibike-tripdata.csv')
    new_df = pd.read_csv(file)
    df_2018 = df_2018.append(new_df)
df_2018.shape

(353892, 15)

In [3]:
# Remove outliers, trips with durations over ~7 hours
df_2018.drop(df_2018[(df_2018['tripduration'] > 25000)].index, inplace = True)

In [4]:
df_2018.shape

(349712, 15)

In [5]:
df_2018.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,349712.000000,349712.000000,349712.000000,349712.000000,349712.000000,349712.000000,349712.000000,349712.000000,349712.000000,349712.000000
mean,536.093671,3265.247778,40.722726,-74.046037,3258.358321,40.722326,-74.045496,29452.922493,1980.395774,1.153226
std,850.766038,138.640027,0.007246,0.010751,147.541906,0.007091,0.010750,2529.932425,10.264743,0.499538
min,61.000000,3183.000000,40.692640,-74.096937,127.000000,40.679331,-74.096937,14697.000000,1887.000000,0.000000
25%,228.000000,3192.000000,40.718211,-74.050444,3186.000000,40.717732,-74.049968,26315.000000,1974.000000,1.000000
50%,334.000000,3205.000000,40.721525,-74.043845,3203.000000,40.721124,-74.043117,29493.000000,1983.000000,1.000000
75%,548.000000,3272.000000,40.727224,-74.038051,3272.000000,40.727224,-74.037683,29679.000000,1988.000000,1.000000
max,24956.000000,3694.000000,40.748716,-74.032108,3694.000000,40.814326,-73.947821,35009.000000,2002.000000,2.000000

In [6]:
# Combine 2019 data
df_2019 = pd.DataFrame()
for i in range(12):
    day = str(i+1).zfill(2)
    file = (f'Resources/JC-2019{day}-citibike-tripdata.csv')
    new_df = pd.read_csv(file)
    df_2019 = df_2019.append(new_df)
df_2019.shape

(404947, 15)

In [7]:
# Remove outliers, trips with durations over ~7 hours
df_2019.drop(df_2019[df_2019['tripduration'] > 25000].index, inplace = True)

In [8]:
df_2019.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,400145.000000,400145.000000,400145.000000,400145.000000,400145.000000,400145.000000,400145.000000,400145.000000,400145.000000,400145.000000
mean,565.995117,3293.994102,40.722720,-74.046330,3292.320906,40.722326,-74.045790,28465.456657,1981.424109,1.162871
std,861.773207,170.988021,0.007034,0.010869,180.376718,0.006878,0.010822,1654.778383,10.254497,0.515614
min,61.000000,3183.000000,40.709651,-74.083639,116.000000,40.701403,-74.083639,14792.000000,1887.000000,0.000000
25%,233.000000,3195.000000,40.718355,-74.050444,3192.000000,40.718355,-74.050389,26286.000000,1975.000000,1.000000
50%,344.000000,3210.000000,40.721525,-74.043845,3207.000000,40.721124,-74.043117,29284.000000,1984.000000,1.000000
75%,579.000000,3276.000000,40.727224,-74.038051,3276.000000,40.727224,-74.038051,29536.000000,1989.000000,1.000000
max,24952.000000,3792.000000,40.748716,-74.032108,3792.000000,40.814326,-73.932077,41913.000000,2003.000000,2.000000

In [9]:
df_2019.shape

(400145, 15)

In [10]:
# Combine 2018 and 2019 data
all_data = df_2018.append(df_2019)

In [11]:
all_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [12]:
# Rename usertype values
all_data.replace("Subscriber", "Member", inplace=True)
all_data.replace("Customer", "Non-Member", inplace=True)

In [13]:
all_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
19723,283,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29245,Non-Member,1990,1
19724,267,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26153,Member,1989,1
19725,379,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,-74.043845,26276,Member,1984,1
19726,188,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,29461,Member,1987,1
19727,326,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29123,Member,1988,1

In [14]:
# Export data as csv
all_data.to_csv('Resources/all_data.csv',index=False)